.error-container {
  position: fixed;
  max-width: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #d22424;
  text-decoration: none !important;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.15); }
  .error-container p {
    margin: 0; }
